<html>
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="menu-toogle navbar-toggle hidemenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="sidemenu">
              <ul>
                <li><a class="scroll" href="top">Home</a></li>
                <li><a class="scroll" href=".members">Membros</a></li>
                <li><a class="scroll" href=".about">Quem somos</a></li>
                <li class="green"><a href="#" class="modal-open">Sign in</a></li>
              </ul>
            </div>
            <a class="navbar-brand noborder" href="#"><img src="images/logo.png" style="max-height: 100%; max-width: 100%" alt="WeApp Logo"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="hidemenu">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="scroll" href="top">Home</a></li>
              <li><a class="scroll" href=".members">Membros</a></li>
              <li><a class="scroll" href=".about">Quem somos</a></li>
              <li class="button"><a href="#" class="modal-open"><button type="button" class="btn navbar-btn modal-open">Sign in</button></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row middle">
        <div class="item col-xs-12">
          <h1 class="center">Quanto nós geramos de descontos?</h1>
          <h2 class="center">R$ 21.587.179</h2>
        </div>
      </div>
      <ul class="link-buttons">
        <li><button><i class="fa fa-apple"></i></button></li>
        <li><button><i class="fa fa-android"></i></button></li>
        <li><button><i class="fa fa-windows"></i></button></li>
      </ul>
  </header>
  <section class="about">
      <h2><span>Introdução</span></h2>
      <p>Ao identificar no aplicativo os membros do WeApp, o consumidor tem a certeza que neste local ele receberá no mínimo 5 % de desconto no valor total da sua compra.</p>
      <p>Agora, vamos exemplificar sua vida a partir de hoje com o WeApp.</p>
      <p>Digamos que, a média do seu consumo Básico mensal é de mil reais. Com o WeApp, você tem a certeza de uma economia de no mínimo 5%, ou seja , 50 reais no mês, sendo assim, 600 reais no ano.</p>
      <p>Lembre-se que estamos falando de um gasto básico, fixo e mensal.</p>
      <p>Além do desconto, você consumidor concorre a prêmios todos os meses apenas por ter o WeApp em seu celular.</p>
      <p> Para multiplicar as suas chances de ganhar,  basta fazer um check-in no Facebook do estabelecimento no ato da compra.</p>
      <p>“ já imaginou ganhar um desconto no almoço e ainda concorrer a prêmios ?”</p>
      <p>Faça o download do nosso aplicativo ! WeApp</p>
  </section>
  <section class="about">
      <h2><span>quem somos</span></h2>
      <p>O WeApp nasce com a missão de estimular o consumidor, desenvolver o comércio e consequentemente movimentar a economia do Brasil. </p>
      <p>O WeApp é o aplicativo que mais fornece benefícios para você.</p>
      <h3 class="green">Por que ter o WeApp?</h3>
      <article>
        <p>WeApp vai proporcionar : </p>
        <p>DESCONTOS -> Você usuários tem direito de no mínimo 5% de desconto no valor total da sua compra nos estabelecimentos participantes.</p>
        <p>PRÊMIOS -> Com o download do App feito no seu celular, você já concorre a prêmios e para ter chances em dobro de ser um ganhador, basta fazer check-in no facebook do estabelecimento, no ato do seu consumo.</p>
        <p>Além de ter todos esses benefícios, o WeApp possibilita ter acesso aos estabelecimentos participantes, com a possibilidade de filtrar por região, localização e seguimento.</p>
      </article>
      <h3 class="green">Como ajudamos o brasil?</h3>
      <article>
        <p>O WeApp aumentará o poder de compra dos consumidores, consequentemente aumentamos a demanda nos comércios e movimentamos a economia do Brasil.</p>
        <p>Faça agora o Download do nosso aplicativo.</p>
        <p>Consumidor,  seja um usuário WeApp!</p>
      </article>
  </section>
  <section class="members">
    <h2><span>membros</span></h2>
    <p class="text-center center-block">Saiba de alguns dos estabelecimentos filiados!</p>
    <div class="slider">
      <div class="arrow-l"><i class="fa fa-angle-left"></i></div>
      <div class="arrow-r"><i class="fa fa-angle-right"></i></div>
      <div class="content">
        <div class="items">
          <div class="item">
            <img src="http://vignette4.wikia.nocookie.net/logopedia/images/f/f2/McDonald's_1968.png/revision/latest?cb=20150808083001" alt="McDonalds">
            <h3>McDonalds</h3>
          </div>
          <div class="item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/New_Walmart_Logo.svg/1280px-New_Walmart_Logo.svg.png" alt="Walmart" />
            <h3>Walmart</h3>
          </div>
          <div class="item">
            <img src="http://vignette3.wikia.nocookie.net/milgreen/images/6/6f/Starbucks.png/revision/latest?cb=20121014074147" alt="Starbucks">
            <h3>Starbucks</h3>
          </div>
          <div class="item">
            <img src="https://logodownload.org/wp-content/uploads/2015/02/Carrefour-logo.png" alt="Carrefour">
            <h3>Carrefour</h3>
          </div>
          <div class="item">
            <img src="http://13992-presscdn-0-87.pagely.netdna-cdn.com/wp-content/uploads/2014/01/300px-Burger_King_Logo-160x160.png" alt="Burger King">
            <h3>Burger King</h3>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-lg btn-success center-block">Ver mais</button>
  </section>
  <footer>
    <%= new Date().getFullYear() %> // WeApp <span>Skynar devs.</span>
  </footer>
  <script type="text/javascript" src="libs/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="dest/js/script.js"></script>
  <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
