<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>WeApp - Baixe nosso App!</title>
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/icons/css/font-awesome.min.css">
<link rel="stylesheet" href="dest/css/style.css">
<script type="text/javascript" src="libs/angular/angular.min.js"></script>
<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="libs/scroll/jquery.mCustomScrollbar.min.css">
