<html>
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="menu-toogle navbar-toggle hidemenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="sidemenu">
              <ul>
                <!--<li><a href="/comerciante">Sou comerciante</a></li>
                <li><a href="/consumidor">Sou consumidor</a></li>-->
              </ul>
            </div>
            <a class="navbar-brand center" href="#"><img src="images/LogoWeApp.svg" style="height: 100%; max-width: 100%" alt="WeApp Logo"></a></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="hidemenu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/comerciante">Sou comerciante</a></li>
              <li><a href="/consumidor">Sou consumidor</a></li>
              </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row middle">
            <h1 class="center">Como podemos te ajudar?</h1>
            <a href="/comerciante"><button class="btn btn-lg outline">Sou comerciante</button></a>
            <a href="/consumidor"><button class="btn btn-lg outline">Sou consumidor</button></a>
      </div>
      <ul class="link-buttons">
        <li><button><i class="fa fa-apple"></i></button></li>
        <li><button><i class="fa fa-android"></i></button></li>
        <li><button><i class="fa fa-windows"></i></button></li>
      </ul>
  </header>
    <script type="text/javascript" src="dest/js/script.js"></script>
    <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
