<html>
  <head>
    <% include header.ejs %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="menu-toogle navbar-toggle hidemenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="sidemenu">
              <ul>
                <li><a class="scroll" href="top">Home</a></li>
                <li><a class="scroll" href=".members">Membros</a></li>
                <li><a class="scroll" href=".about">Quem somos</a></li>
                <li><a class="scroll" href="#">Contato</a></li>
              </ul>
            </div>
            <a class="navbar-brand noborder" href="#"><img src="images/logo.png" style="max-height: 100%; max-width: 100%" alt="WeApp Logo"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="hidemenu">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="scroll" href="top">Home</a></li>
              <li><a class="scroll" href=".members">Membros</a></li>
              <li><a class="scroll" href=".about">Quem somos</a></li>
              <li><a class="scroll" href="#">Contato</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row middle">
        <div class="item col-xs-12">
          <h1 class="center">Quanto nós geramos de descontos?</h1>
          <h2 class="center">R$ 21.587.179</h2>
        </div>
      </div>
      <ul class="link-buttons">
        <li><button><i class="fa fa-apple"></i></button></li>
        <li><button><i class="fa fa-android"></i></button></li>
        <li><button><i class="fa fa-windows"></i></button></li>
      </ul>
  </header>
  <section class="about">
      <h2><span>Introdução</span></h2>
      <p>Ser membro do WeApp é valorizar a sua marca, pois será através da sua empresa que seus clientes terão acesso aos benefícios e prêmios. O WeApp garante para a sua empresa o Marketing Digital com retorno imediato nas mídias sociais!</p>
      <p>Ao estimular o consumo, diretamente aumentamos a sua demanda, isto significa que garantiremos a manutenção dos postos de trabalho já existentes e geração de novos.</p>
  </section>
  <section class="about">
      <h2><span>quem somos</span></h2>
      <p>
        O WeApp nasce com a missão de estimular o consumidor, desenvolver o comércio e consequentemente movimentar a economia do Brasil.

        O WeApp é o aplicativo que mais fornece benefícios para sua empresa e clientes!
      </p>
      <h3 class="green">Por que ser membro WeApp?</h3>
      <article>
        <p>Já pensou quanto custaria divulgar a sua empresa para milhares de pessoas via Facebook fora do WeApp? </p>
        <p>Agora faça um exercício mental: Tente mensurar o valor de ser recomendado por amigos dessas milhares milhares de pessoas!</p>
        <p>Aguardar o mercado melhorar sozinho é colocar em risco o negócio que você tanto lutou para conseguir. O WeApp vai direcionar e atuar na continuidade e no desenvolvimento do seu negócio.</p>
      </article>
      <h3 class="green">Como ajudamos o brasil?</h3>
      <article>
        <p>Ao estimular o consumo, diretamente aumentamos sua demanda, isto significa que garantiremos a manutenção dos postos já existentes e geração dos novos.</p>
        <p>Quem está no controle da sua empresa é você.</p>
        <p>Comerciante, seja um membro WeApp!</p>
      </article>
  </section>
  <section class="members">
    <h2><span>membros</span></h2>
    <p class="text-center center-block">Seja como um dos membros abaixo, seja WeApp!</p>
    <div class="slider">
      <div class="arrow-l"><i class="fa fa-angle-left"></i></div>
      <div class="arrow-r"><i class="fa fa-angle-right"></i></div>
      <div class="content">
        <div class="items">
          <div class="item">
            <img src="http://vignette4.wikia.nocookie.net/logopedia/images/f/f2/McDonald's_1968.png/revision/latest?cb=20150808083001" alt="McDonalds">
            <h3>McDonalds</h3>
          </div>
          <div class="item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/New_Walmart_Logo.svg/1280px-New_Walmart_Logo.svg.png" alt="Walmart" />
            <h3>Walmart</h3>
          </div>
          <div class="item">
            <img src="http://vignette3.wikia.nocookie.net/milgreen/images/6/6f/Starbucks.png/revision/latest?cb=20121014074147" alt="Starbucks">
            <h3>Starbucks</h3>
          </div>
          <div class="item">
            <img src="https://logodownload.org/wp-content/uploads/2015/02/Carrefour-logo.png" alt="Carrefour">
            <h3>Carrefour</h3>
          </div>
          <div class="item">
            <img src="http://13992-presscdn-0-87.pagely.netdna-cdn.com/wp-content/uploads/2014/01/300px-Burger_King_Logo-160x160.png" alt="Burger King">
            <h3>Burger King</h3>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-lg btn-success center-block">Ver mais</button>
  </section>
  <section class="contact">
    <h2>Contato</h2>
    <form name="contact">
      <div class="row ui-skynar">
        <div class="col-xs-12 col-md-6">
          <input type="text" placeholder="Nome completo" name="nome">
        </div>
        <div class="col-xs-12 col-md-6">
          <input type="text" placeholder="Email" name="email">
        </div>
      </div>
      <div class="row ui-skynar">
        <div class="col-xs-12 col-md-6">
          <input type="text" placeholder="Telefone" name="tel">
        </div>
        <div class="col-xs-12 col-md-6">
          <input type="text" placeholder="Assunto" name="assunto">
        </div>
      </div>
      <div class="row ui-skynar">
        <div class="col-xs-12">
          <textarea placeholder="Mensagem" name="message" cols="30" rows="10"></textarea>
          <button class="btn btn-block outline">
            Enviar mensagem
          </button>
        </div>
      </div>
    </form>
  </section>
  <footer>
    <%= new Date().getFullYear() %> // WeApp <span>Skynar devs.</span>
  </footer>
    <script type="text/javascript" src="libs/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="dest/js/script.js"></script>
    <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
