<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>up</title>
  </head>
  <body>
    <form action="/manager/estabelecimento" enctype="multipart/form-data" method="post">
      <input type="file" name="images">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
