<div class="container-fluid">
    <nav class="pull-left">
        <ul>

            <li>
                <a href="#">
                    Skynar
                </a>
            </li>
            <li>
                <a href="https://weappm.com.br">
                   Página inicial
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright pull-right">
        &copy; <script>document.write(new Date().getFullYear())</script>, Desenvolvido por <a href="#">Skynar Devs</a>
    </div>
</div>
