<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Nome Empresa</label>
      <input ng-model="est.nomeEmpresa" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Nome Proprietario</label>
      <input ng-model="est.nomeProprietario" type="text" class="form-control border-input">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>CNPJ</label>
      <input ng-model="est.CNPJ" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Telefone</label>
      <input ng-model="est.Tel" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Email</label>
      <input ng-model="est.email" type="text" class="form-control border-input">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Segmento</label>
      <input ng-model="est.segmento" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Desconto aplicado</label>
      <input ng-model="est.descontoAplicado" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Data assinatura</label>
      <input date-formater ng-model="est.dataEntrada" type="text" class="form-control border-input">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Cidade</label>
      <input ng-model="est.cidade" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Bairro</label>
      <input ng-model="est.bairro" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>CEP</label>
      <input ng-model="est.CEP" type="text" class="form-control border-input">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Url</label>
      <input ng-model="est.url" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Url Facebook</label>
      <input ng-model="est.urlFace" type="text" class="form-control border-input">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Vencimento do Plano</label>
      <input date-formater ng-model="est.vencPlano" type="text" class="form-control border-input">
    </div>
  </div>
</div>



<button ng-click="save(est)" class="btn btn-success btn-fill btn-wd">
  Adicionar
</button>
