<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar usuario</h4>
      </div>
      <div class="modal-body">


        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>Titulo</label>
              <input ng-model="editactive.titulo" type="text" class="form-control border-input">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Status</label> <br />
              <input data-on-color="success" data-off-color="danger" type="checkbox" name="switch" class="pull-right" checked>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Descrição</label>
              <input ng-model="editactive.desc" type="text" class="form-control border-input">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Data de inicio</label>
              <input ng-model="editactive.dataInicio" type="date" class="form-control border-input">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Data de encerramento</label>
              <input ng-model="editactive.dataFim" type="date" class="form-control border-input">
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button ng-click="update(editactive)" type="button" class="btn btn-success btn-fill btn-wd">Save changes</button>
      </div>
    </div>
  </div>
</div>
