
<div class="container-fluid">
    <div class="row">
            <div class="card">
                <div class="header">
                    <h4 class="title">Postagens
                      <button type="button"  data-toggle="modal" data-target="#adduser" class="btn no-bgcolor-success pull-right"><i class="ti-plus"></i></button>
                    </h4>
                </div>
                <div class="content table-responsive table-full-width">
                  <table class="table table-striped ltd-effect">
                      <thead>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Data</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in postagens">
                          <td><span class="label label-default" style="background-color: {{item.categoria.cor}}; margin-right: 10px;">{{item.categoria.nome}}</span>{{item.titulo}}</td>
                          <td>{{item.author.nome}}</td>
                          <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
                          <td>
                            <button ng-click="removeuser(item._id)" class="btn btn-danger btn-sm pull-right"><i class="ti-trash"></i></button>
                            <button ng-click="edituser(item._id)" class="btn btn-primary btn-sm pull-right"><i class="ti-pencil"></i></button>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
        </div>


    </div>
</div>
<div ng-include="'views/parts/modal.html'"></div>
